---
layout: default
title: ArthurChiao's Blog
---

<div class="home" id="home">
  <h1 class="pageTitle">Recent Posts</h1>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
        <h3><a class="post-link" href="{{ post.url }}">{{
            post.title }}</a></h3>
        <p class="description">
        {% if post.description %}
          {{ post.description | strip_html | strip_newlines | truncate: 270 }}
        {% else %}
          {{ post.content | strip_html | strip_newlines | truncate: 270 }}
        {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
